BODY, TD, LI   {font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: small}

body {
  margin:0;
  padding:28px 0 0 8px;
  background-color:#fff;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


th, td {
  padding:12px;
}

div.lan {float:right;}
div.hor {width:320px; padding-left:48px; display:inline-block;}
div.hors {padding-left:32px; display:inline-block;}
div.horh {padding-right:24px; display:inline-block;}
div.horm {width:240px; padding-left:48px; display:inline-block;}
.rp180 {width:140px;}
.roofpig {display:inline-block;}

.bl {padding:0 2px 0 2px; background-color:#09f;}
.gr {padding:0 2px 0 2px; background-color:#3f0;}
.wh {padding:0 2px 0 2px; background-color:#fff; border:thin solid #aaa;}
.ye {padding:0 2px 0 2px; background-color:#ff0;}
.re {padding:0 2px 0 2px; background-color:#f30;}
.or {padding:0 2px 0 2px; background-color:#f93;}
.pu {padding:0 2px 0 2px; background-color:purple;}
.sa {padding:0 2px 0 2px; background-color:salmon;}

.iwx {padding:0 2px 0 2px; background-color:#888; color:#fff;}
.ibx {padding:0 2px 0 2px; background-color:#888;}

